<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">

        <div class="layui-form-item">
            <label class="layui-form-label required">文件信息</label>
            <div class="layui-input-block layuimini-upload">
                <input name="url" class="layui-input layui-col-xs6" lay-verify="required" lay-reqtext="请上传文件" placeholder="请上传文件" value="" readonly>
                <div class="layuimini-upload-btn">
                    <span><a class="layui-btn" data-upload="url" data-upload-number="one"><i class="fa fa-upload"></i> 上传</a></span>
                </div>
            </div>
        </div>

    </form>
</div>
